.mainbox{
	background-color: rgb(255, 26, 26);
	height: 235px;
	margin: 0px auto;
}




.menu{
	height: 37px;
	text-align: center;

}


.menu>ul>li{
	display: inline;
	padding: 10px 20px 10px 20px;
	background-color: rgb(236,236,236); ;
	position: relative;
	top: -290px;
	font-family: Tahoma, serif;
	font-size: 14px;
}
.menu>ul>li>a{
	text-decoration: none;
	color: black;
}

.kontaktinfo>p{
	padding: 5px 5px;


}